// .mutasi-header.profile-header {
//     display: block;
// }
.image-holder-profile {
    width: 180px;
    height: 100%;
}
table.table.profile-info {
    font-size: 16px;
}

.periode-info.profile-info tr {
    height: 100% !important;
}



.profile-info td.devider {
    padding-left: 0;
}

table.table.profile-info {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mutasi-header.profile-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mutasi-header.budget-card.profile-card {width: auto;}   
